.main-container {
    font-family: Work Sans;
    margin: 20px;
}

.section {
    margin-top: 30px;
}

.clamd-reply {
    background-color: black;
    color: white;
    width: fit-content;
    block-size: fit-content;
}

footer {
    font-family: Work Sans;
    margin-top: 100px;
    margin-left: 20px;
}

footer > span {
    color: #808080;
}

.clamd-status-up {
    background-color: #007D3E;
    color: white;
    width: fit-content;
    block-size: fit-content;
}

.clamd-status-down {
    background-color: #CC071E;
    color: white;
    width: fit-content;
    block-size: fit-content;
}
